@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  line-height: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: #e7efef;
  font-size: 16px;
}

.text-primary {
  color: #008374 !important;
}

.navbar-brand img {
  width: 200px;
  border-radius: 5px;
}

/* Add custom styles if needed */
@media (max-width: 767px) {
  .navbar-brand img {
    max-width: 100px; 
  }
}

@media (min-width: 768px) {
  .navbar-brand img {
    max-width: 200px; 
  }
}


.nav-item {
  margin: auto 10px;
}

nav .nav-item .btn {
  border: none !important;
}

/* Dark Navbar */
.navbar-dark {
  background-color: #008374 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s, color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  background-color: #ffffff;
  color: #008374;
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .login-btn {
  padding: 8px 28px !important;
  border: solid 1px #fff;
  font-weight: 600;
  color: #fff !important;
  border: solid 1px #ffffff89;
}

.navbar-dark .login-btn:hover,
.navbar-dark .login-btn:focus {
  background-color: #006b5d !important;
  border-color: #006b5d !important;
}

/* Transparent Navbar */
.navbar-transparent {
  background-color: transparent !important;
  background-color: #ffffff !important;
  position: fixed;
  opacity: 0.9;
    z-index: 1000;
    width: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* .navbar-transparent.Sticky-top {
  background-color: #fff !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  opacity: 0.9;
  position: fixed;
    z-index: 1690;
    width: 100%;
    top: 0px;
    left: 0px;
} */

.navbar-transparent .navbar-nav .nav-link {
  color: #008374;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-transparent .navbar-nav .nav-link:hover,
.navbar-transparent .navbar-nav .nav-link:focus {
  background-color: #008374;
  color: #ffffff;
}

.navbar-transparent .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-transparent .navbar-toggler-icon {
  background-color: #008374;
}

.navbar-transparent .navbar-toggler {
  border-color: #008374;
}

.navbar-transparent .login-btn {
  padding: 8px 28px !important;
  border: solid 1px #fff;
  font-weight: 600;
  color: #fff !important;
  border: solid 1px #ffffff89;
}

.navbar-transparent .login-btn:hover,
.navbar-transparent .login-btn:focus {
  background-color: #006b5d !important;
  border-color: #006b5d !important;
}
/* after mobile */
.drawerStyless {
  z-index: 99999;
  width: 70%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3%;
}

.customUl {
  list-style-type: none;
  padding: 0;
}

.customDrawerBody {
  color: #008374;
  backdrop-filter: none;
  font-size: 16px;
}
/* ......... */

/* banner on trans new */
.jumbotron {
  background-image: url("../images/banner-1.jpg");
  height: 400px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  /* margin-top: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  margin-top: 94px;
}

nav .container,
#banners-section .container {
  max-width: 1290px !important;
}

#partner .container {
  max-width: 1278px !important;
}
/*  */

.dropdown {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown .dropdown-toggle {
  display: inline-flex;
  align-items: center;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navbar .dropdown-menu .dropdown-header {
  color: #a7aeb8;
  font-size: 0.75rem;
  font-weight: 400;
}

.dropdown-user-img-letter {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100% !important;
  background-color: #6387a6 !important;
  border: 1px solid rgb(247, 240, 240) !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 18px;
}

/* Our partners */
#partner {
  width: 100%px;
  /* height: 130px; */
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #f4f4f4;
  color: #212529;
  padding: 10px;
}

#partner img {
  width: 100px;
  border-radius: 10px;
}

/* why-social-section */
#why-social-section h1 {
  font-weight: 600;
  font-size: 30px;
}

#why-social-section .what-social-bharat ul  {
  list-style: none;
  line-height: 1cm;
  font-size: 16px;
}

#why-social-section .what-social-bharat ul li i {
  color: #008577;
}

.image-zoom-containerm img{
  width: 100%;
  height: 400px;
  background-position: center ;
  background-size: cover;
  object-fit: contain;

}



.image-zoom {
  transition: transform 0.9s ease;
}

.image-zoom-container:hover .image-zoom {
  transform: scale(1.05);
}

#Promote-business {
  background-image: url("/user/images/promot.jpeg");
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

.stats {
  width: 100%;
  position: relative;
}

.stats .container {
  position: relative;
  z-index: 1;
}

#Promote-business span {
  color: #ffcb6a !important;
  font-size: 48px;
}

#Promote-business p {
  color: #ebb758;
  font-size: 16px;
}

/* services */
#services {
  background-color: #ffffff;
}
#services .service-item {
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
}

#services .service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

#services .service-item .icon i {
  font-size: 56px;
  color: #008374;
}

#services .service-item .title {
  color: #32353a;
  font-size: 20px;
  font-weight: 700;
  font-family: sans-serif;
}

#services .service-item .description {
  line-height: 24px;
  font-size: 16px;
  line-height: 1cm;
}

#services .service-item .icon i:hover {
  color: #f7ab26;
  background-color: white;
}

.small-hr {
  width: 30px;
  top: 20px;
  color: #ff0000 !important;
  margin-right: auto;
  line-break: normal;
  border: 1px solid #ff0000;
}

.big-hr {
  width: 500px;
  color: #37423b;
  border: 1px solid #d7e1db;
}

/* Matrimonial */
#matrimonial .matrimonial-section .matrimonial-img img {
  transition: 2s;
  width: 300%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

#matrimonial .matrimonial-section:hover {
  transform: scale(1.1);
}

.ss:hover {
  transform: scale(1.1);
}

#matrimonial .matrimonial-section .matrimonial-details {
  padding: 50px 30px;
  margin: -100px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: #ffffff;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);
}

#matrimonial .matrimonial-section .matrimonial-details .icon {
  margin: 0;
  width: 72px;
  height: 72px;
  background: #0ea2bd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid #ffffff;
}

#matrimonial .matrimonial-section .matrimonial-details .icon:hover {
  background: #0ea2bd;
  border: 2px solid #0ea2bd;
}

.matrimonial-details .icon i {
  font-size: 60px;
}

#matrimonial .matrimonial-section .matrimonial-details a {
  color: #0ea2bd;
  text-decoration: none;
}

#matrimonial .matrimonial-section .matrimonial-details a h3 {
  color: #1a1f24;
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
  font-family: sans-serif;
}

#matrimonial .matrimonial-section .matrimonial-details a h3:hover {
  color: #0ea2bd;
}

#matrimonial {
  padding: 40px 0px;
  background: linear-gradient(45deg, #fbc868, #ffbb3ef5, #fcb130, #f7ab26);
}

#matrimonial .matrimonial-section .matrimonial-details p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  font-family: sans-serif;
}

/* Testimonials Section */
#testimonials {
  background-image: url("../images/testimonial-6.jpg");
  /* opacity: 0.8; */
  padding: 40px 0;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
}

#testimonials::before {
  content: "";
  position: absolute;
  inset: 0;
}

#testimonials h3 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  font-family: sans-serif;
}

#testimonials h4 {
  font-size: 14px;
  color: #ffffff99;
  font-family: sans-serif;
}

#testimonials p {
  font-size: 1rem;
  color: #ffffff;
  font-family: sans-serif;
  font-style: italic;
}

#testimonials img{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

/* User Image On Navbar  */
.dropdown-user .dropdown-menu .dropdown-header {
  text-transform: none;
  letter-spacing: normal;
}

#navbarDropdownUserImage {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  vertical-align: middle;
}

#navbarDropdownUserImage img {
  border-radius: 100%;
}

a.btn.dropdown-toggle.show:focus {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
}

.dropdown-toggle::after {
  content: none;
  display: none;
  border: none;
}

.dropdown-user-img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.dropdown-user-details-name {
  color: #212832;
  font-weight: 500;
  font-size: 0.9rem;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-user-details-email {
  color: #69707a;
  font-size: 0.75rem;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e0e5ec;
}

.dropdown-user .dropdown-menu .dropdown-item {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
}

.dropdown-menu .dropdown-item .dropdown-item-icon {
  margin-right: 0.8rem;
  font-size: 13px;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0px;
  box-shadow: none !important;
}

/* Buttons */
.btn {
  border-radius: 0px !important;
  padding: 0.5rem 0.75rem !important;
}

.btn-primary {
  background-color: #008374;
  border-color: #008374;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #006b5d;
  border-color: #006b5d;
}

.btn-primary.disabled {
  background-color: #006b5d1a;
  border-color: #006b5d6e;
  color: #888888c9;
  cursor: not-allowed;
}

.btn-secondary {
  background-color: #ff9933;
  border-color: #ff9933;
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #e58c28;
  border-color: #e58c28;
  /* color: #e7e4e4c9; */
  color: #fff;
}

.btn-secondary.disabled {
  background-color: #e58d285b;
  border-color: #e58d28a6;
  color: #fff;
}

.btn-banner {
  background-color: #50CC14;
  border-color: #50CC14;
  color: #fff;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #51cc14c7;
  border-color: #50CC14 ;
  /* color: #e7e4e4c9; */
  color: #fff;
}

/* .btn-set{
  width: 80px;
  height: 40px;
}  */

.form-control {
  border-radius: 0px !important;
  padding: 0.5rem 0.75rem !important;
}

.form-control:focus,
.form-control:hover {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.05);
}

/* Footer */
#footer {
  color: #37423b;
  font-size: 16px;
  background: #f4f8fa;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#footer .useful-links a,
#footer .our-services a {
  color: #212529 !important;
  cursor: pointer;
}

#footer-end {
  color: #37423b;
  font-size: 13px;
  padding: 5px 0px 10px 0px;
  background-color: #ceddd2;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  padding: 9px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 38px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #212529;
  color: #212529 !important;
}

.social-links :hover {
  border: 1px solid #008374;
  color: #008374 !important;
}

.social-links a i:hover {
  border: 0px;
}

#footer h4 {
  padding-bottom: 0px !important;
}

#footer #scrollToTopBtn i {
  color: #ffffff;
}

/* OTP input boxes */
.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 5px;
  transition: border-color 0.3s;
}

.otp-input:focus {
  outline: none;
  border-color: #007bff;
}

/* Center the OTP input boxes */
#otp-form {
  display: flex;
  justify-content: center;
}

#timer {
  width: 70px;
  margin: 8px auto;
  padding: 2px;
  border: solid 1px #ff9933;
  font-weight: bold;
  color: #008374;
  font-family: "Courier New", Courier, monospace;
}

/* Add space between the OTP input boxes */
.otp-input:not(:last-child) {
  margin-right: 10px;
}

/*  changePassword */
#changePassword .card {
  width: auto;
  max-width: 600px !important;
}

/* Profile img */
/* .profile-picture{
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin: 0px auto;
} */

.proposal-Photo img {
  width: 40px;
  height: 40px;
}

/* Error */
.error {
  font-size: 12px !important;
  color: #dc3545 !important;
}

.alert {
  padding: 0.35rem 0.35rem !important;
  font-size: 10px !important;
}

/* Dashboard */
#dashboard {
  font-weight: 300px !important;
}

#dashboard .text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

#dashboard .small {
  font-size: 0.875em !important;
}

#dashboard .feather-xl {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

#dashboard .card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

#dashboard a {
  text-decoration: none;
}

#dashboard a:hover {
  text-decoration: underline;
}

.bg-lightorange {
  background-color: #f28157 !important;
}

.bg-lightskyblue {
  background-color: #c5e2e6 !important;
}

.bg-bluegray {
  background-color: #6387a6 !important;
}

.bg-darkyellow {
  background-color: #f2a007 !important;
}

.bg-peal {
  background-color: #025e73 !important;
}

.bg-classicbrown {
  background-color: #8c654f !important;
}

.bg-classicblue {
  background-color: #011f26 !important;
}

.bg-lightgreen {
  background-color: #6aa668 !important;
}
.bg-soil {
  background-color: #634a00 !important;
}
.bg-lightvoilet {
  background-color: #3f0359 !important;
}
.bg-pink {
  background-color: #f21d2f !important;
}
.bg-classicpink {
  background-color: #bf7e6f !important;
}
.bg-navyblue {
  background-color: #009bce !important;
}

/* card edit icon */
.edit-icon {
  position: absolute;
  right: 40px;
  top: 10px;
}

.edit-icon a i,
.delete-icon a i {
  color: #008374;
}

.delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.filter-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}



/* User Photo Edit */
.container-profilepic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
  /* background: linear-gradient(yellow, orange, pink, purple, blue); */
}

.container-profilepic img {
  /* background: linear-gradient(yellow, orange, pink, purple, blue) !important; */
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}

.middle-profilepic {
  background-color: #ffffffb0;
}

.container-profilepic:hover .middle-profilepic {
  display: flex !important;
  cursor: pointer;
}

/* Home page banners */
.banner-area {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 550px;
  overflow: hidden;
}

.banner-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  z-index: -1;
}

#banners-section h2 {
  font-size: 35px;
  color: #ffffff;
}

#banners-section h2 span {
  color: yellow;
}

.overlay {
  /* background-color: rgb(41, 53, 56); */
  background-color: rgb(46, 48, 49);
  bottom: 0;
  left: 0;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.hero-section {
  padding-top: 150px;
  margin-left: 70px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
}

.hero-btn:hover {
  border: 1px solid #008374 !important;
  background: #008374 !important;
  transition: 1s !important;
  color: #fff;
}

.carousel-caption {
  margin-bottom: 200px;
}

/* ......Search Bar........ */
#searchPeople-section .container-input {
  position: relative;
}

#searchPeople-section .input {
  padding-left: 40px !important;
}

#searchPeople-section .container-input i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  opacity: 0.5;
}

/* Search People Page */
#searchPeople-section .avatar {
  /* vertical-align: middle; */
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-image: url("/images/matrimonial-1.jpg");
  border-radius: 100%;
  /* border: 1px solid rgb(185, 183, 183) ; */
}

#searchPeople-section .user-detail p {
  margin: 0px !important;
  font-size: 12px;
  padding: 0px !important;
  line-height: 0.5cm;
}

#searchPeople-section .filter-content p {
  /* position: absolute; */
  right: 100px;
  top: 15px;
  padding: 0px !important;
}

/* Waiting Page */
#waiting-Page {
  margin: 150px auto;
}

#community_id {
  /* width: 200px; */
}

.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 0px !important;
  border-style: solid !important;
  /* border-width: 0px !important; */
  box-sizing: border-box;
  /* margin-right: 69px !important; */
}

.css-t3ipsp-control {
  min-height: 38px;
  border-style: solid !important;
  border-width: 0px !important;
  /* box-sizing: border-box; */
}

.css-b62m3t-container {
  position: relative;
  box-sizing: border-box;
  padding: 0px !important;
}

.add-more-info {
  text-align: center;
}

.fade-in-image {
  animation: fadeIn 5s;
}

/* Custom CSS for the Typeahead component */
.custom-typeahead {
  /* Add custom styles to the Typeahead input field */
  .rbt-input-main {
    /* Add styles for the input field here */
    padding-right: 30px; /* Add padding for the dropdown arrow */
  }

  /* Add styles to the dropdown arrow */
  .rbt-input-wrapper .rbt-input {
    background-image: url("path-to-your-dropdown-icon.png"); /* Replace with your dropdown icon image path */
    background-repeat: no-repeat;
    background-position: right center;
  }

  /* Open the dropdown on input click */
  .rbt-input-main:focus + .rbt-menu {
    display: block !important;
  }
}

#basic-profile-section .community-img {
  width: 30px;
  height: 30px;
}

#auth-wrapper,
#contact-banner,
#dashboard,
#basic-profile-section,
#searchPeople-section
{
  margin-top: 90px;
}

#rating-authpage,
#event-form{
  margin-top: 140px;
 
}

nav .nav-item {
  cursor: pointer;
}

/* Rating Page */
.rating {
  display: inline-block;
  margin-left: 50px;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 40px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #dfc909;
  transition: color 0.3s;
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .rating label {
    margin-right: 40px;
  }
}

.rating-btn {
  text-align: center;
}

/* About Page */
.about-img {
  background-image: url("../images/banner-2.jpg");
  height: 300px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  /* margin-top: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  margin-top: 94px;
}

.menu-font {
  font-family: "Poppins", sans-serif;
  font-size: 16px; /* Adjust the font size as needed */
}

.fixed-button-container {
  position: fixed;
  bottom: 20px; /* Adjust the positioning as needed */
  right: 20px; /* Adjust the positioning as needed */
}

.content-container {
  max-height: calc(100vh - 10px); /* Adjust the max height as needed */
  overflow-y: auto;
}
