@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background-color: #e7efef;
}

.text-primary {
  color: #008374 !important;
}

.navbar-brand img {
  width: 50px;
}

.nav-item {
  margin: auto 10px;
}

/* Dark Navbar */
.navbar-dark {
  background-color: #008374 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s, color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  background-color: #ffffff;
  color: #008374;
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.10);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .login-btn {
  padding: 8px 28px !important;
  border: solid 1px #fff;
  font-weight: 600;
  color: #fff !important;
  border: solid 1px #ffffff89;
}

.navbar-dark .login-btn:hover,
.navbar-dark .login-btn:focus {
  background-color: #006b5d !important;
  border-color: #006b5d !important;
}

/* Transparent Navbar */
.navbar-transparent {
  background-color: transparent !important;
}

.navbar-transparent .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s, color 0.3s;
}

.navbar-transparent .navbar-nav .nav-link:hover,
.navbar-transparent .navbar-nav .nav-link:focus {
  background-color: #ffffff;
  color: #008374;
}

.navbar-transparent .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

.navbar-transparent .navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.10);
}

.navbar-transparent .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-transparent .login-btn {
  padding: 8px 28px !important;
  border: solid 1px #fff;
  font-weight: 600;
  color: #fff !important;
  border: solid 1px #ffffff89;
}

.navbar-transparent .login-btn:hover,
.navbar-transparent .login-btn:focus {
  background-color: #006b5d !important;
  border-color: #006b5d !important;
}

/* Buttons */
.btn {
  border-radius: 0px !important;
  padding: 0.50rem 0.75rem !important;
}

.btn-primary {
  background-color: #008374;
  border-color: #008374;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #006b5d;
  border-color: #006b5d;
}

.btn-primary.disabled {
  background-color: #006b5d1a; 
  border-color: #006b5d6e;     
  color: #888888c9;            
  cursor: not-allowed;    
}

.btn-secondary {
  background-color: #FF9933;
  border-color: #FF9933;
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #E58C28;
  border-color: #E58C28;
  color: #e7e4e4c9;
}

.btn-secondary.disabled {
  background-color: #e58d285b;
  border-color: #e58d28a6;
  color: #fff;
}

.form-control {
  border-radius: 0px !important;
  padding: 0.50rem 0.75rem !important;
}

.form-control:focus,
.form-control:hover {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.05);
}

/* Footer */
#footer {
  color: #37423b;
  font-size: 14px;
  background: #f4f8fa;
  position: relative;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
}

#footer-end {
  color: #37423b;
  font-size: 13px;
  padding: 5px 0px 10px 0px;
  background-color: #ceddd2;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  padding: 9px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 38px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #212529;
  color: #212529;
}

.social-links :hover {
  border: 1px solid #008374;
  color: #008374;
}

.social-links a i:hover {
  border: 0px;
}

#footer h4 {
  padding-bottom: 0px !important;
}

#footer a {
  color: #444444;
}

#footer #scrollToTopBtn i {
  color: #ffffff;
}

/* OTP input boxes */
.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 5px;
  transition: border-color 0.3s;
}

.otp-input:focus {
  outline: none;
  border-color: #007bff;
}

/* Center the OTP input boxes */
#otp-form {
  display: flex;
  justify-content: center;
}

#timer{
  width: 70px;
  margin: 8px auto;
  padding: 2px;
  border: solid 1px #FF9933;
  font-weight: bold;
  color: #008374;
  font-family: 'Courier New', Courier, monospace;
}

/* Add space between the OTP input boxes */
.otp-input:not(:last-child) {
  margin-right: 10px;
}

/*  changePassword */
#changePassword .card {
  width: auto;
  max-width: 600px !important;
}

/* Profile img */
.profile-picture{
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin: 0px auto;
}

/* Error */
.error {
  font-size: 12px !important;
  color: #dc3545 !important;
}

.alert {
  padding: 0.35rem 0.35rem !important;
  font-size: 10px !important;
}

.proposal-Photo img{
  width: 40px;
  height: 40px;
}
