/* components/Loading.css */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  