#customNavID .navbar-brand img {
    width: 200px;
    /* background-image: 'user/images/sb-logo.png'; */
    border-radius: 5px;
}

/* Add custom styles if needed */
@media (max-width: 767px) {
    #customNavID .navbar-brand img {
        max-width: 100px;
    }
}

@media (min-width: 768px) {
    #customNavID .navbar-brand img {
        max-width: 200px;
    }
}

#customNavID .nav-item {
    margin: auto 10px;
    font-weight: 500 !important;
    font-size: 18px !important;
}

#customNavID nav .nav-item .btn {
    border: none !important;
}

/* Dark Navbar */
#customNavID .navbar-dark {
    background-color: #008374 !important;
}

#customNavID .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 131, 116, 0.99%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e ");
}

#customNavID .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.3s, color 0.3s;
}

#customNavID .navbar-dark .navbar-nav .nav-link:hover,
#customNavID .navbar-dark .navbar-nav .nav-link:focus {
    background-color: #ffffff;
    color: #008374;
}

#customNavID .navbar-dark .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#customNavID .navbar-dark .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.1);
}

#customNavID .navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

#customNavID .navbar-dark .login-btn {
    padding: 8px 28px !important;
    border: solid 1px #fff;
    font-weight: 600;
    color: #fff !important;
    border: solid 1px #ffffff89;
}

#customNavID .navbar-dark .login-btn:hover,
#customNavID .navbar-dark .login-btn:focus {
    background-color: #006b5d !important;
    border-color: #006b5d !important;
}

/* Transparent Navbar */
#customNavID .navbar-transparent {
    background-color: transparent !important;
    background-color: #ffffff !important;
    position: fixed;
    opacity: 0.9;
    z-index: 1000;
    width: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#customNavID .navbar-transparent .navbar-nav .nav-link {
    color: #008374;
    transition: background-color 0.3s, color 0.3s;
}

#customNavID .navbar-transparent .navbar-nav .nav-link:hover,
#customNavID .navbar-transparent .navbar-nav .nav-link:focus {
    background-color: #008374;
    color: #ffffff !important;
}

/* #customNavID .navbar-transparent .navbar-nav .nav-link:active{
    background-color: #008374;
    color: #ffffff !important;
} */

#customNavID .navbar-transparent .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

/* #customNavID .navbar-transparent .navbar-toggler-icon {
    background-color: #008374;
} */

#customNavID .navbar-transparent .navbar-toggler {
    border-color: #008374;
}

#customNavID .navbar-transparent .login-btn {
    padding: 8px 28px !important;
    border: solid 1px #fff;
    font-weight: 600;
    color: #fff !important;
    border: solid 1px #ffffff89;
}

#customNavID .navbar-transparent .login-btn:hover,
#customNavID .navbar-transparent .login-btn:focus {
    background-color: #006b5d !important;
    border-color: #006b5d !important;
}

/* after mobile */
#customNavID .drawerStyless {
    z-index: 99999;
    width: 70%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3%;
}

#customNavID .customUl {
    list-style-type: none;
    padding: 0;
}

#customNavID .customDrawerBody {
    color: #008374;
    backdrop-filter: none;
    font-size: 16px;
}

nav .container,
#banners-section .container {
  max-width: 1290px !important;
}

#customNavID .button-container {
    position: relative;
    margin-left: 20%;
  }
  
  
  #customNavID .default-button {
    background-color: #006b5d;
    border-color: #006b5d;
    color: #fff;
    z-index: 3;
    position: absolute;
    width: 100px;
    border-radius: 40px;
    transform: translateX(-70%); /* Center the custom button horizontally */
    
  }
  #customNavID .custom-button:hover{
    background-color: #81b5b5;
    color: black;
  }
  #customNavID .default-button:hover{
    background-color: #81b5b5;
    color: black;
  }
  #customNavID .button-container .custom-signup-clicked{
    background-color: #fff;
    color: black;
  }
  #customNavID .custom-login-clicked{
    background-color: #fff;
    color: black;
  }
  
  #customNavID .custom-button {
    background-color: #006b5d;
    border-color: #006b5d;
    color: #fff;
    width: 100px;
    z-index: 2;
    left: 50%;
    border-radius: 40px;
    text-align: end;
    margin-right: 10px;
    
  }

  #customNavID .dropdown {
    position: relative;
  }
  
  #customNavID .dropdown-toggle {
    white-space: nowrap;
  }
  
  #customNavID .dropdown .dropdown-toggle {
    display: inline-flex;
    align-items: center;
  }
  
  #customNavID .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
  #customNavID .navbar .dropdown-menu .dropdown-header {
    color: #a7aeb8;
    font-size: 0.75rem;
    font-weight: 400;
  }
  
  #customNavID .dropdown-user-img-letter {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100% !important;
    background-color: #6387a6 !important;
    border: 1px solid rgb(247, 240, 240) !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 18px;
  }
  #customNavID .dropdown-user-img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
  }
  #customNavID a.btn.dropdown-toggle.show:focus {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
  
  #customNavID .dropdown-toggle::after {
    content: none;
    display: none;
    border: none;
  }


  

/* #customNavID .container {
    height: 80px;
    @media (max-width: 767px) {
        height: 45px;
    }
} */
/* ......... */


/* ... (rest of the styles with #customNavID prefix) */
