/* Our partners */
#partner {
    width: 100%px;
    height: 100px;
    /* height: 130px; */
    background-color: #ffffff;
    /* background-color: #e6dddd; */
    box-shadow: 0px 3px 6px #f4f4f4;
    color: #595959;
    padding: 10px;
    
  }
  
  #partner img {
    width: 100px;
    border-radius: 10px;
    height: 70px;
  }
  
  .community-name {
    margin-top: 8px; /* Optional: add margin between image and name */
  }

  #bharatmatamandir .card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
  }